// ---------------------------------------------- INFO-WINDOW START

.info-window {
    position: absolute;
    top:20vh;
    right: 5vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    font-size: 14px;
    color: #ccc;
    background: #0a0514;
    background: linear-gradient(0deg, rgb(10 5 20 / 100%) 0%, rgb(26 11 56 / 100%) 100%);
    background-color: $main-bg;
    border: 1px solid #000;
    border-radius: 1vh;

    &.active {
        .info-window__collapse {
            height: 0%;
        }

        .info-window__inner {
            height: 100%;
        }

        .info-window__body {
            height: 40vh;
        }

        .info-window__tabs {
            height: fit-content;
        }

        .material-icons {
            transform: scaleY(1);
        }
    }

    &__header {
        display: flex;
    align-items: flex-end;
    justify-content: flex-end;
        height: 2vh;
        background-color: #000;
        
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 2vh;
        height: 90%;
        margin-right: 2vh;
        cursor: pointer;
        border-radius: 1px;

        &:hover {
            background-color: #2b2b2b;
        }
    }

    &__collapse {
        width: 100%;
        height: 100%;
        border: 0.1vh solid #ccc;
        border-radius: 2px;
        
    }

    
    &__tabs {
        display: flex;
        justify-content: center;
        height: 0;
        transition: 0.2s;
    }

    &__tab {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0 0 2px 2px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 0;
        transition: 0.2s;
    }

    &__inner {
        height: 0;
        overflow: auto;
        transition: 0.2s;
    }

    
    &__footer {
        min-height: 1vh;
        background-color: #000;
    }

    & .material-icons {
        transition: 0.2s;
        transform: scaleY(0);
    }

}

.tab-achievement {
    background-color: rgb(41 73 48 / 50%);

    &:hover,
    &.active {
        background-color: #468153;
    }
}

.tab-control {
    background-color: rgb(70 129 83 / 50%);

    &:hover,
    &.active {
        background-color: #466e81;
    }
}

.tab-changelog {
    background-color: rgb(120 129 70 / 50%);

    &:hover,
    &.active {
        background-color: #788146;
    }
}

.achievement {
    display: none;
    padding: 0.5vh;

    &.active {
        display: flex;
        flex-direction: column-reverse;
    }

    &__experience {
        padding: 1vh;
        margin-bottom: 0.5vh;
        box-shadow: inset 0 -1px 1px 1px #3f2d63;

        & span {
            color: violet;

            & + span {
            color: fuchsia;
            }
        }

    }
    
    &__lvl-up {
        padding: 1vh;
        margin-bottom: 0.5vh;
        box-shadow: inset 0 -1px 1px 1px #3f2d63;

        & span {
            color: cyan;
        }
    }
}

.control {
    display: none;
    padding: 0.5vh;

    &.active {
        display: block;
    }

    &__title {
    }

    &__list {
    }

    &__item {
    }
}

.changelog {
    display: none;
    padding: 0.5vh;

    &.active {
        display: block;
    }
    
    &__title {
    }

    &__list {
        margin-left: 20px;
        list-style-type: disc;
    }

    &__item {
    }
}



// ---------------------------------------------- INFO-WINDOW END
